body {
    font-family: "Helvetica Neue", Helvetica;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4rem;
    margin: 0 auto;
    max-width: 768px;
    color: #222;
}

#content {
    margin: 1rem;
}

h1 {
    font-size: 4rem;
}

h1,
h2 {
    line-height: 2rem;
}

img.logo {
    width: 4rem;
}

.strike {
    text-decoration: line-through;
}

.art-title {
    font-style: italic;
}

.username {
    padding: 0.2rem;
    background-color: #f1f1f1;
    font-family: monospace, monospace;
    line-height: 1rem;
}

.username a,
.username a:visited {
    color: #222;
    text-decoration: none;
}

.username a:hover {
    text-decoration: underline;
}

a,
a:visited {
    color: #009a64;
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 3rem;
    }
    .username {
        background-color: initial;
    }
}

.video {
    display: flex;
    justify-content: center;
}