.pattern {
    background: url('.././/img/pattern.svg');
}

#hidden_fields {
    display: none;
}

#signup_email_danger {
    display: none;
    margin: 0;
    float: left;
    width: 100%;
}

#signup_email_success {
    display: none;
    margin: 0;
    float: left;
    width: 100%;
}

#signup_cpassword_danger {
    display: none;
    margin: 0;
}

#images_area {
    opacity: 0;
}

#loader {
    z-index: 10;
    top: 0;
    left: 0;
}

.spinner {
    margin: 100px auto;
    width: 80px;
    height: 80px;
    position: relative;
}

.cube1,
.cube2 {
    background-color: #ffd700;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#loader2 {
    display: none;
}

.spinner2 {
    margin: 5px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube12,
.cube22 {
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube22 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.loader2 {
    display: none;
}

.spinner {
    margin: 5px auto;
    width: 40px;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    height: auto;
}

.spinner>div {
    width: 8px;
    height: 8px;
    background-color: #1616ff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.bg_loader {
    width: 100%;
    height: 100%;
}

@media (max-width: 575.98px) {
    .mon {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .moff {
        display: none !important;
    }
}

.mobile-bottom-bar {
    display: none;
    width: 100%;
    height: 3.778rem;
    background: #1616ff;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-bottom-bar .footer-link {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: bold;
    padding: 0.907rem 1rem;
}

.ic {
    margin-right: 0.625rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

.mobile-bottom-bar .footer-text {
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: 0.875rem;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#mobileshow {
    display: none;
}

@media screen and (max-width: 500px) {
    #mobileshow {
        display: block;
    }
}

.left .modal-content {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.over-div {
    cursor: pointer;
    z-index: 3;
    height: 100%;
    background: linear-gradient(1deg, #53f1b380, #1a36b6b8);
    top: 0px;
    left: 0px;
    padding: 10px;
    transition: all .2s ease-in-out;
    border-radius: 0.9rem;
}

.block1:hover {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

.textlines {
    line-height: 2.5rem;
    padding-left: 10px;
}

.headlines {
    padding-left: 10px;
}

.bg-video {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.quote {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #0000001f;
}

.modal-dialog {
    border: 0px;
}

#quoteModal .modal-content {
    box-shadow: 1px 11px 3px #bbbbbb;
    background: linear-gradient(270deg, #78feb2b5, #64d4fd);
}

#categoryModal .modal-content {
    box-shadow: 1px 11px 3px #bbbbbb;
    background: linear-gradient(270deg, #78feb2b5, #64d4fd);
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    /* Adjustment for the gutter */
    width: 100%;
}

.masonry-brick {
    flex: auto;
    height: auto;
    min-width: 150px;
    margin: 0 8px 8px 0;
    /* Some gutter */
}

.masonry-brick:nth-child(4n+1) {
    width: 150px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 230px;
}

.masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
}

#pot {
    -webkit-animation: linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 15s;
    animation-delay: 2s;
}

@-webkit-keyframes run {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(-50%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-linkd {
        border-radius: 50rem !important;
    }
}

/* With arrow tabs */

.with-arrow .nav-linkd.active {
    position: relative;
}

.with-arrow .nav-linkd.active::after {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* lined tabs */

.lined .nav-linkd {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-linkd:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-linkd.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}

/*


/**
 * Notifications
 */

.hellobar {
    background-color: #313131;
    /*  box-shadow: 0 3px 0 #c13832; */
    /*  position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    /*  text-shadow: 0 1px rgba(0,0,0, .3); */
    font-size: 14px;
    letter-spacing: 1px;
}

.hellobar a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    font-size: 11px;
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

.hellobar a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}

.hellobar-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.hellobar-content {
    overflow: hidden;
    padding: 7px 0;
    transition: 0.1s ease;
}

.hellobar-toggle {
    position: absolute;
    top: 0px;
    right: 22px;
    bottom: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
    min-width: 30px;
    min-height: 30px;
    opacity: 0;
    cursor: pointer;
}

.hellobar-toggle:checked {
    top: 0;
    right: 22px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.hellobar-toggle:checked~.hellobar-content {
    padding: 0;
    height: 0;
}

.hellobar-toggle:checked~.hellobar-arrow:after {
    top: 7px;
    left: 16px;
    box-shadow: none;
}

.hellobar-toggle:checked~.hellobar-arrow:before {
    position: absolute;
    top: 15px;
    left: 11px;
    border-color: #fff transparent transparent transparent;
    border-width: 8px 8px 0 8px;
    box-shadow: none;
}

.hellobar-toggle:checked~.hellobar-arrow {
    top: 0;
    right: 19px;
    width: 38px;
    height: 30px;
    /*  border: 3px solid #c2332c; */
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.hellobar-arrow {
    position: absolute;
    top: 7px;
    right: 30px;
    background-color: #313131;
}

.hellobar-arrow:before {
    display: block;
    width: 0px;
    height: 0px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    /*  box-shadow: 0 1px 0 rgba(255,255,255,0.2); */
    content: '';
}

.hellobar-arrow:after {
    position: absolute;
    left: 5px;
    display: block;
    width: 6px;
    height: 8px;
    background-color: #fff;
    /*  box-shadow: 0 1px 0 rgba(255,255,255,0.2); */
    content: '';
}

.hellobar-toggle:hover~.hellobar-arrow:after {
    background-color: #333;
}

.hellobar-toggle:hover~.hellobar-arrow:before {
    border-bottom-color: #333;
    border-top-color: #333;
}